/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset css */

body {
    background-image: url("/assets/imges/cat-theme.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    max-height: 8%;
    padding: 30px;
    justify-content: space-between;
   
}

#logo {
    width: 12%;
}

.menu {
    display: flex;
    gap: 40px;
    justify-content: start;
}

.menu a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(172, 3, 82);
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
}

.menu a:hover {
    color: white;
    background-color:  rgb(172, 3, 82);
}

#premium {
    color: white;
    background-color:  rgb(190, 146, 80);
}

#premium:hover {
    background-color: rgb(172, 3, 82);
}

.buttons {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    width: 400px;
}

.buttons button {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.buttons button:active {
    transform: scale(0.9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#like img {
    width: 70px;
    height: 70px;
}

#dislike img {
    width: 70px;
    height: 70px;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    min-height: 300px;
}

.container{
    display: flex;
    justify-content: center;
}


#catImg {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 30px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

body, html {
    overflow: hidden; 
    position: relative;
}

/* Class added by JavaScript when swiped left */
.removed-left {
  transform: translateX(-100vw) rotate(-30deg); /* Move left and rotate */
  opacity: 0;
}

/* Class added by JavaScript when swiped right */
.removed-right {
  transform: translateX(100vw) rotate(30deg); /* Move right and rotate */
  opacity: 0;
}

.cover{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 600px;
    background-color: #ff000000;
    z-index: 10;
   touch-action: none;
}

@media (max-width: 480px) {
    .menu {
        display: none;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo {
       width: 50%;
    }
    .main {
        padding: 0;
    }
    #catImg {
        max-width: 400px;
        max-height: 500px;
    }
    .cover {
        max-width: 400px;
        max-height: 500px;
    }
}